# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

- List some languages that Data Scientists use.
- List some libraries commonly used by Data Scientists.
- List some development environment open source tools used in data science.

### Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. C++

### Some of the commonly used libraries used by Data Scientists include:
1. pandas
1. numpy
1. caret
1. ggplot
1. dplyr

| Data Science Tools |
| :------------------ |
| Jupyter Notebooks |
| RStudio |
| Anaconda |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5

17

In [10]:

#  This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Samuel Pratt